<!DOCTYPE html>
<html lang="en">
<head>
	<title>Night's Watch Login</title>
	<link rel="stylesheet" href='../static/login_style.css'/>
</head>
<body>
	<div class="login">
	<h1>Login</h1>
    <form>
    	<input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" onclick="location.href = '/videoStream';" class="btn btn-primary btn-block btn-large">Let me in</button>
    </form>
</div>
</body>
</html>
